.idea
app/etc/local.xml
app/etc/config.xml
log/capistrano.log
var/
var/*
var/package/*
/media/
var/locks/
sitemap.xml
.DS_Store
/test.php
includes/config.php
includes/src
nbproject/
downloader/
.htaccess
!*/.htaccess
.swp
.idea
/.settings/
/.buildpath/
.project
/.project/
/sitemaps/
*.sass-cache*
.rsync_cache
skin/frontend/vax_rwd/default/scss/*.css
skin/frontend/vax_rwd/uk/scss/*.css
.phpstorm.meta.php
.orig
vendor/
ExactTargetWSDL.xml
/app/code/local/Vax/ProductMatrix
/app/code/local/Webshopapps/ProductMatrix
.idea/*
/lib/Vax/Realex
skin/frontend/vax_rwd/uk_support/css/*.map
skin/frontend/vax_rwd/uk_spares/css/*.map
/scheduler_cron.sh
/app/etc/modules/Vax_GoogleTagManager.xml
/app/code/local/Vax/GoogleTagManager
/app/etc/modules/Vax_AutoAddProduct.xml
/app/code/local/Vax/AutoAddProduct
/app/etc/modules/Vax_Blacklist.xml
/app/code/local/Vax/Blacklist
/app/design/frontend/base/default/layout/vax/blacklist.xml
/app/design/adminhtml/default/default/layout/vax/customerpattern.xml
/skin/frontend/base/default/js/checkout/blacklist.js
/skin/frontend/base/default/css/vax/blacklist.css
/app/etc/modules/Vax_ElasticSearch.xml
/app/code/local/Vax/ElasticSearch
/app/etc/modules/Vax_Document.xml
/app/code/local/Vax/Document
/app/etc/modules/Vax_Tracking.xml
/app/code/local/Vax/Tracking
/app/etc/modules/Vax_CarelineStub.xml
/app/code/local/Vax/CarelineStub
/app/design/adminhtml/default/default/layout/vax/carelinestub.xml
/app/design/adminhtml/default/default/template/vax_careline
/app/etc/modules/Vax_NewVoiceMedia.xml
/app/code/local/Vax/NewVoiceMedia
/app/design/frontend/base/default/template/newvoicemedia/form/payment.phtml
/app/code/local/Vax/EmailReport
/app/etc/modules/Vax_EmailReport.xml
/app/locale/en_US/template/email/report
/app/code/community/FireGento/Logger
/app/etc/modules/FireGento_Logger.xml
/app/design/adminhtml/default/default/layout/firegento_logger.xml
/app/design/adminhtml/default/default/template/firegento_logger
/app/design/frontend/base/default/template/firegento_logger
/lib/XMPPHP
/lib/Graylog2-gelf-php
/lib/rsyslog
/lib/chromelogger
/shell/logger.php
/skin/adminhtml/default/default/firegento_logger.css
/app/locale/en_US/template/email/firegento_logger
/app/code/local/Mage/Sales/Model/Config/Ordered.php
/app/etc/modules/Vax_Admin.xml
/app/code/local/Vax/Admin
/app/code/local/Inchoo/PHP7
/app/etc/modules/Inchoo_PHP7.xml
/app/code/local/Mage/Connect/Packager.php
/app/code/local/Mage/Core/Model/Resource/Session.php
/app/etc/modules/Vax_ExactTarget.xml
/app/code/local/Vax/ExactTarget
/lib/FuelSDK-PHP
/scripts/test-exact-target.php
/app/etc/modules/Vax_Realex.xml
/app/code/local/Vax/Realex
/app/design/adminhtml/default/default/layout/vax_realex.xml
/app/design/adminhtml/default/default/template/vax_realex
/app/design/frontend/base/default/layout/realex.xml
/app/design/frontend/base/default/template/vax_realex
/lib/Vax
/app/code/local/Mirasvit
/app/etc/modules/Mirasvit_Misspell.xml
/app/etc/modules/Mirasvit_MstCore.xml
/app/etc/modules/Mirasvit_SearchAutocomplete.xml
/app/etc/modules/Mirasvit_SearchIndex.xml
/app/etc/modules/Mirasvit_SearchLandingPage.xml
/app/etc/modules/Mirasvit_SearchSphinx.xml
/app/locale/en_US/Mirasvit_Misspell.csv
/app/locale/en_US/Mirasvit_SearchAutocomplete.csv
/app/locale/en_US/Mirasvit_SearchIndex.csv
/app/locale/it_IT/Mirasvit_Misspell.csv
/app/locale/it_IT/Mirasvit_SearchAutocomplete.csv
/app/locale/it_IT/Mirasvit_SearchIndex.csv
/app/locale/nl_NL/Mirasvit_Misspell.csv
/app/locale/nl_NL/Mirasvit_SearchAutocomplete.csv
/app/locale/nl_NL/Mirasvit_SearchIndex.csv
/app/design/adminhtml/default/default/layout/mstcore.xml
/app/design/adminhtml/default/default/layout/searchindex.xml
/app/design/adminhtml/default/default/template/cms/widget
/app/design/adminhtml/default/default/template/misspell
/app/design/adminhtml/default/default/template/mstcore
/app/design/adminhtml/default/default/template/searchindex
/app/design/adminhtml/default/default/template/searchsphinx
/app/design/frontend/base/default/layout/mst_misspell.xml
/app/design/frontend/base/default/layout/mst_searchautocomplete.xml
/app/design/frontend/base/default/layout/searchindex.xml
/app/design/frontend/base/default/template/mst_misspell
/app/design/frontend/base/default/template/mst_searchautocomplete
/app/design/frontend/base/default/template/searchindex
/js/mirasvit
/lib/Sphinx
/skin/adminhtml/default/default/mirasvit
/skin/adminhtml/default/default/mstcore
/skin/frontend/base/default/css/mirasvit
/skin/frontend/base/default/css/mixin.css
/skin/frontend/base/default/css/mixin.less
/skin/frontend/base/default/images/mirasvit
/shell/misspell.php
/shell/search.php
/shell/searchautocomplete.php
/var/sphinx
/app/etc/modules/Vax_Subscription.xml
/app/code/local/Vax/Subscription
/app/design/adminhtml/default/default/layout/vax/subscription.xml
/app/design/frontend/base/default/layout/vax/subscription.xml
/app/design/frontend/base/default/template/vax/subscription
/skin/frontend/base/default/css/vax/subscription.css
/skin/frontend/base/default/js/basket-ajax.js
/skin/frontend/base/default/images/subscription
/app/etc/modules/Vax_GoCardless.xml
/app/code/local/Vax/GoCardless
/app/design/frontend/base/default/layout/vax/gocardless.xml
/app/design/frontend/base/default/template/vax/gocardless
/app/design/adminhtml/default/default/layout/vax/gocardless.xml
/app/design/adminhtml/default/default/template/vax/sales/order/view/tab/gocardless.phtml
/app/design/adminhtml/default/default/template/vax/gocardless
/app/etc/modules/Vax_BasketRestriction.xml
/app/code/local/Vax/BasketRestriction
/app/etc/modules/Nexcessnet_Turpentine.xml
/app/code/community/Nexcessnet/Turpentine
/app/design/adminhtml/default/default/layout/turpentine.xml
/app/design/adminhtml/default/default/template/turpentine
/app/design/frontend/base/default/layout/turpentine_esi.xml
/app/design/frontend/base/default/template/turpentine
/shell/varnishadm.php
/app/etc/modules/Vax_PDMLink.xml
/app/code/local/Vax/PDMLink
/app/design/adminhtml/default/default/layout/vax/pdmlink.xml
/app/design/adminhtml/default/default/template/pdmlink
/app/etc/modules/Vax_Integration.xml
/app/code/local/Vax/Integration
/scripts/integration
/app/etc/modules/Vax_Delivery.xml
/app/etc/modules/Vax_DeliveryDate.xml
/app/etc/modules/Vax_Productmatrix.xml
/app/etc/modules/Webshopapps_Productmatrix.xml
/app/etc/modules/Webshopapps_Wsacommon.xml
/app/code/local/Vax/Delivery
/app/code/local/Vax/DeliveryDate
/app/code/local/Vax/Productmatrix
/app/code/local/Webshopapps/Productmatrix
/app/code/local/Webshopapps/Wsacommon
/app/design/adminhtml/default/default/layout/vax/deliverydate.xml
/app/design/adminhtml/default/default/template/vax/order/view/tab/delivery_date.phtml
/m_test_search_speed.php