<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Practice_Weblog>
            <version>0.1.0</version>
        </Practice_Weblog>
    </modules>
    <frontend>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Practice_Weblog</module>
                    <frontName>weblog</frontName>
                </args>
            </weblog>
        </routers>
    </frontend>
    <global>
        <models>
            <weblog>
                <class>Practice_Weblog_Model</class>
                <resourceModel>weblog_resource</resourceModel>
            </weblog>
            <weblog_resource>
                <class>Practice_Weblog_Model_Resource</class>
                <entities>
                    <post>
                        <table>blog_posts</table>
                    </post>
                    <adminUser>
                        <table>admin_user</table>
                    </adminUser>
                </entities>
            </weblog_resource>
        </models>
        <resources>
            <weblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weblog_write>
            <weblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weblog_read>
        </resources>
    </global>
</config>