<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Practice_BlogEav>
            <version>0.1.0</version>
        </Practice_BlogEav>
    </modules>
    <frontend>
        <routers>
            <blogeav>
                <use>standard</use>
                <args>
                    <module>Practice_BlogEav</module>
                    <frontName>blogeav</frontName>
                </args>
            </blogeav>
        </routers>
    </frontend>
    <global>
        <models>
            <blogeav>
                <class>Practice_BlogEav_Model</class>
                <resourceModel>blogeav_resource_eav_mysql4</resourceModel>
            </blogeav>
            <blogeav_resource_eav_mysql4>
                <class>Practice_BlogEav_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <eavpost>
                        <table>eavblog_posts</table>
                    </eavpost>
                </entities>
            </blogeav_resource_eav_mysql4>
        </models>
        <resources>
            <blogeav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blogeav_write>
            <blogeav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blogeav_read>
            <blogeav_setup>
                <setup>
                    <module>Practice_BlogEav</module>
                    <class>Practice_BlogEav_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blogeav_setup>
        </resources>
    </global>
</config>